.img-logo {
    width: 40px;
    height: auto;
    padding-top: 5px;
}

header>nav {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.selec {
    color: red !important;
}

header>div {
    background-image: linear-gradient(225deg, rgba(176, 84, 160, 1) 0%, rgba(55, 178, 195, 1) 100%);
    text-align: center;
    padding: 70px 0;
    border-bottom: 2px solid #222222;
}

header>div>h1 {
    color: whitesmoke;
}

main {
    padding: 10px 0;
}

main ul {
    width: 20%;
    text-align: center;
    padding-right: 0 !important;
}

main ul>li:hover {
    cursor: pointer;
}

main>div>ul>li>a:hover {
    background-color: #4e98cf !important;
    color: whitesmoke !important;
}

main p {
    text-align: justify;
}

footer {
    background-color: #222222;
    padding: 20px 0;
    text-align: center;
    color: whitesmoke;
}