* {
  margin: 0;
  padding: 0;
}
header {
  background-color: teal;
  color: turquoise;
  padding: 50px 0;
  text-align: center;
  border-bottom: 3.33333333px solid turquoise;
}
main {
  width: 100%;
}
main div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main div:nth-child(1) section {
  width: 70%;
  padding: 20px;
  text-align: justify;
  color: #006667;
}
main div:nth-child(1) aside {
  background-color: #003334;
  width: 20%;
  padding: 10px 20px;
  margin-right: 15px;
  margin-top: 15px;
  height: fit-content;
}
main div:nth-child(1) aside ul li {
  color: #00cccd;
  cursor: pointer;
}
main div:nth-child(1) aside ul li:hover {
  color: springgreen;
}
main div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main div:nth-child(2) img {
  width: 40%;
  margin: 20px;
  border: 2px solid #000;
}
main div:nth-child(2) p {
  width: 55%;
  height: fit-content;
  padding: 10px 20px;
  text-align: justify;
  color: whitesmoke;
  background-color: seagreen;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 20px;
}
main div:nth-child(3) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main div:nth-child(3) img {
  width: 40%;
  margin: 20px;
  border: 2px solid #000;
}
main div:nth-child(3) p {
  width: 53%;
  height: fit-content;
  padding: 10px 20px;
  text-align: justify;
  color: whitesmoke;
  background-color: seagreen;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 20px;
}
main div:nth-child(4) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main div:nth-child(4) img {
  width: 40%;
  margin: 20px;
  border: 2px solid #000;
}
main div:nth-child(4) p {
  width: 53%;
  height: fit-content;
  padding: 10px 20px;
  text-align: justify;
  color: whitesmoke;
  background-color: seagreen;
  margin-top: 20px;
  border-radius: 20px;
}
main div:nth-child(5) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
main div:nth-child(5) img {
  width: 40%;
  margin: 20px;
  border: 2px solid #000;
}
main div:nth-child(5) p {
  width: 53%;
  height: fit-content;
  padding: 10px 20px;
  text-align: justify;
  color: whitesmoke;
  background-color: seagreen;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 20px;
}
footer {
  padding: 30px;
  text-align: center;
  background-color: turquoise;
  color: teal;
  border-top: 2px solid teal;
}
