.img-logo {
    width: 40px;
    height: auto;
    padding-top: 5px;
}

header>nav {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.selec {
    color: red !important;
}

header>div {
    background-image: linear-gradient(225deg, rgba(176, 84, 160, 1) 0%, rgba(55, 178, 195, 1) 100%);
    text-align: center;
    padding: 70px 0;
    border-bottom: 2px solid #000;
}

header>div>h1 {
    color: whitesmoke;
}

main {
    padding: 10px 0;
}

main ul {
    width: 20%;
    text-align: center;
    padding-right: 0 !important;
}

main ul>li:hover {
    cursor: pointer;
}

main>div>ul>li>a:hover {
    background-color: #4e98cf !important;
    color: whitesmoke !important;
}


div.col-xs-12>.btn {
    margin-bottom: 10px;
}

main p {
    text-align: justify;
}

div.col-xs-12>div>img {
    opacity: 60%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

div.col-xs-12>div>img:hover {
    opacity: 100%;
}

#carousel-example{
    margin: 20px 0;
    background-image: linear-gradient(225deg, rgba(176,84,160,1) 0%, rgba(55,178,195,1) 100%);
    color: whitesmoke;
    text-align: center;
    padding: 20px 0;
}

footer {
    background-image: linear-gradient(225deg, rgba(176, 84, 160, 1) 0%, rgba(55, 178, 195, 1) 100%);
    padding-top: 3px;
}

footer>div{
    background-color: #222222;
    padding: 20px 0;
    text-align: center;
    color: whitesmoke;
}