* {
  margin: 0;
  padding: 0;
}
header {
  background-color: teal;
  color: turquoise;
  padding: 50px 0;
  text-align: center;
  border-bottom: 3.33333333px solid turquoise;
}
main {
  width: 100%;
}
main div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main div:nth-child(1) section {
  width: 70%;
  padding: 20px;
  text-align: justify;
  color: #006667;
}
main div:nth-child(1) aside {
  background-color: #003334;
  width: 20%;
  padding: 10px 20px;
  margin-right: 15px;
  margin-top: 15px;
  height: fit-content;
}
main div:nth-child(1) aside ul li {
  color: #00cccd;
  cursor: pointer;
}
main div:nth-child(1) aside ul li:hover {
  color: springgreen;
}
main div:nth-child(2) {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}
main div:nth-child(2) img {
  width: 40%;
  padding: 20px;
}
main div:nth-child(2) p {
  width: 55%;
  padding: 20px;
  text-align: justify;
  color: #1eb6a7;
}
footer {
  padding: 30px;
  text-align: center;
  background-color: turquoise;
  color: teal;
}
