@dark-Green: teal;
@light-Green: turquoise;
@pSize: 10px;
@mSize: 15px;

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: @dark-Green;
    color: @light-Green;
    padding: @pSize * 5 0;
    text-align: center;
    border-bottom: (@pSize / 3) solid  @light-Green;
}

main{
    width: 100%;
    div:nth-child(1){
        width: 100%;
        display: flex;
        justify-content: space-between;
        section{
            width: 70%;
            padding: @pSize * 2;
            text-align: justify;
            color: darken(@dark-Green, 5%);
        }
        aside{
            background-color: darken(@dark-Green, 15%);
            width: 20%;
            padding: @pSize (@pSize * 2);
            margin-right: @mSize;
            margin-top: @mSize;
            height: fit-content;
            ul li{
                color: lighten(@dark-Green, 15%);
                cursor: pointer;
                &:hover{
                    color: springgreen;
                }
            }
        }
    }
    div:nth-child(2){
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: @mSize + 8px;
        img{
            width: 40%;
            padding: @pSize * 2;
        }
        
        p{
            width: 55%;
            padding: @pSize * 2;
            text-align: justify;
            color: darken(@light-Green, 15%);
        
        }
    }
}

footer{
    padding: @pSize * 3;
    text-align: center;
    background-color: @light-Green;
    color: @dark-Green;
}